* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background: rgb(93, 38, 68)
}


header {
    align-items: center;
    text-align: center;
    font-size: 80px;
    width: 100%;
    height: 920px;
    background: radial-gradient(rgba(235, 173, 122, 0.9),rgba(93, 38, 68, 1));
    line-height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1 {
    font-family: corela;
    line-height: 35px;
    color:rgb(42, 9, 27);
    margin-top: 100px;
}
.flip {
    margin-top: 55px;
    display: inline-block;
    transform: scaleY(-1);
    color: rgba(42, 9, 27, 0.2);
}
h2{
        font-family: corela;
        font-size: 50px;
        color:rgb(42, 9, 27);
    }

.headerimg {
        width: 400px;
        height: 400px;
        display: block;
        margin-top: 55px;
        
    }
/* this is supposed to have a picture of me */
.articleimg {
        width: 700px;
        height: 700px;
        margin-left: 80px;
        margin-top: 20px;
        background: rgb(235, 174, 124);
        border-radius: 20% 20% 5px 5px;
        box-shadow:5px 5px 20px 20px rgba(42, 9, 27, 0.3)

}

article {
    font-size: 40px;
    display: flex;
    color:rgb(42, 9, 27);
    
}


/* this has an about me */
section {
    width: 900px;
    height: 320px;
    background: rgb(235, 174, 124);
    flex-direction: right;
    margin-top:20px;
    border-radius: 20% 20% 5px 5px;
    margin-left: 140px;
    color:rgb(42, 9, 27);
    box-shadow:5px 5px 20px 20px rgba(42, 9, 27, 0.3)
}
p {
    font-family: "arial narrow 7";
}
.aboutme {

    margin-top: 30px;
    margin-left: 30px;
    line-height: 60px;
    color:rgb(42, 9, 27);
    
    

}

.myskills {

    margin-top: 50px;
    margin-left: 30px;
    line-height: 60px;
    color:rgb(42, 9, 27);
    


}

aside {
    width: 900px;
    height: 320px;
    background: rgb(235, 174, 124);
    flex-direction: right;
    margin-top:300px;
    border-radius: 5px 5px 20% 20% ;
    margin-left: 0px;
    box-shadow:5px 5px 20px 20px rgba(42, 9, 27, 0.3)

}


a:hover {
    text-decoration: none;
    font-size: 50px;
    color: rgb(256, 206, 111);
}

a:visited {
    text-decoration: none;
    font-size: 50px;
    color:rgb(197, 102, 50);
}


a {
    text-decoration: none;
    font-size: 50px;
    color:rgb(93, 38, 68);
    
}

.top {
    font-size: 60px;
    text-align: center;
    align-items: center;
    width: 100% ;
    height: 100px;
    background:rgb(235, 174, 124);
    line-height: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
    font-family: "arial narrow 7";
    box-shadow:0px 5px 20px 20px rgba(42, 9, 27, 0.4)
}
.bottom {
    margin-top: 50px;
    font-size: 60px;
    text-align: center;
    align-items: center;
    width: 100% ;
    height: 100px;
    background:rgb(235, 174, 124);
    line-height: 100px;
    display: flex;
    gap: 100px;
    justify-content: center;
    box-shadow:5px 5px 20px 20px rgba(42, 9, 27, 0.4)

}
projects {
    flex-direction: row;
    filter: drop-shadow(10px 10px 20px #2a091b66);
    
}

.linkimg {
    width: 600px;
    height: 600px;
}

footer {
    font-family:"arial narrow 7" ;
    font-size: 60px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
    width: 100% ;
    height: 100px;
    background:rgb(235, 174, 124);
    line-height: 00px;
    display: flex;
    gap: 100px;
    justify-content: center;
    box-shadow:5px 5px 20px 20px rgba(42, 9, 27, 0.4)


}